<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr. Fit - About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
</head>
<body>
  <header>
    <h1 class="main-heading">Dr. Fit</h1>
    <nav class="aboutnav">
      <ul>
        <li><a href="login.html">Log in</a></li>
        <li><a href="about.html" class="active">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="content-container">
      <h2>About Dr. Fit</h2>
      <p>
        Dr. Fit is your virtual personal trainer and nutritionist, powered by artificial intelligence.
        With Dr. Fit, you can get personalized fitness and nutrition advice tailored to your goals.
        Whether you want to lose weight, build muscle, improve flexibility, or enhance your overall health, Dr. Fit has got you covered.
      </p>
      <p>
        Our expert AI chatbot provides you with valuable insights, custom meal plans, workout routines,
        and tips to keep you motivated and on track. Dr. Fit takes into account your profile, including gender,
        age, height, weight, activity level, and specific fitness goals to create a plan that works best for you.
      </p>
      <p>
        Achieve optimal health, fitness, and happiness with Dr. Fit by your side. Start your journey today and
        experience the power of AI-driven personal training and nutrition guidance.
      </p>
    </section>
    <section class="content-container">
      <h2>Key Features</h2>
      <ul>
        <li>Personalized fitness and nutrition advice</li>
        <li>Custom meal plans based on your goals</li>
        <li>Workout routines designed for your specific needs</li>
        <li>Motivational tips to keep you on track</li>
        <li>Expert insights from AI-powered virtual trainer and nutritionist</li>
      </ul>
    </section>
    <section class="content-container">
      <h2>Contact Us</h2>
      <p>If you have any questions or feedback, feel free to reach out to us:</p>
      <ul>
        <li>Email: info@drfit.com</li>
        <li>Phone: 123-456-7890</li>
        <li>Address: 123 Fitness Street, City, Country</li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Dr-Fit. All rights reserved.</p>
  </footer>
</body>
</html>
