<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Fitness Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/2fdae42f66.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-primary">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-light bg-primary">
            <!-- Navbar brand-->
            <a class="navbar-brand" href="{{ url_for('get_response.response', user_id=current_user.id) }}">Dr. Fit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.account_route', user_id=current_user.id) }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('nutrition.nutrition_page', user_id=current_user.id) }}">Nutrition Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.workout_library', user_id=current_user.id) }}">Workout Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.article_tips', user_id=current_user.id) }}">Articles & Tips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.delete_account', user_id=current_user.id) }}" onclick="return confirm('Are you sure you would like to delete your account? This cannot be undone.')">Delete Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('get_response.mainPage', user_id=current_user.id) }}">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('routes.day_planner', user_id=current_user.id) }}">Journal</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('get_response.report') }}">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('youtube.get_youtube') }}">YouTube</a></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login.logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
