{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Community</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Discussion Boards</h2>
            <!-- Add discussion board elements here -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Member Spotlights</h2>
            <!-- Add member spotlight elements here -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Events and Meetups</h2>
            <!-- Add event and meetup elements here -->
        </div>
    </div>
</div>
{% endblock %}
