<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <title>Registration Failed</title>
</head>
<body>
    <div class="container">
        <h1>Registration Failed</h1>
        <p>Registration failed. Please try again.</p>
        </ul>
        <button onclick="location.href='/register.html'">Back to Registration</button>
    </div>
</body>
</html>

