<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="content-container">
        <!--Main heading-->
        <a href="{{ url_for('routes.about') }}">
            <h1 class="main-heading">Dr. Fit</h1>
          </a>
        <!--Login container-->
        <div class="login-container">
            <!--Login form, where the data is is sent to process-login with POST-->
            <form action="/process-login" method="POST">
                <label for="username">Username</label>
                <input class="login_input" type="text" id="username" name="username" style="width: 80%">
                <label for="password">Password</label>
                <input class="login_input" type="password" id="password" name="password" style="width: 80%">
                <input class="reg_log_submit_btns" type="submit" value="Login" style="width: 80%">
            </form>
            <b><a href="/register.html">Register</a></b>
        </div>
    </div>
</body>
</html>
